/*.swiper-slide {*/
/*    margin-right: 50px;*/
/*}*/
.card-item {
    position: relative;
    width: 90%;
    height: 300px;
}

.card__img {
    width: 100%;
    height: 250px;
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__info {
    position: absolute;
    bottom: 25px;
    margin: auto;
    width: 100%;
    text-align: center;
}

.card__info .card__info-body p {
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: all ease 1s;
}

.card__info.closed  .card__info-body p {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all;
}

.card__info-body {
    margin: auto;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.card__info-more {
    margin-top: 10px;
}

.card__info-more span {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: rgb(0,0,0);
    border-radius: 100%;
    margin-right: 10px;
}

.card__info-more span:last-child {
    margin-right: 0;
}

@media (min-width: 768px) {
    .swiper-slide {
        margin-right: 25px;
    }

    .gallery-card {
        /*width: 300px;*/
        /*height: 200px;*/
    }
}

@media (min-width: 1024px) {
    .swiper-slide {
        margin-right: 20px;
    }

    .gallery-card {
        /*width: 300px;*/
        /*height: 200px;*/
    }
}

@media (min-width: 1440px) {
    .swiper-slide {
        margin-right: 15px;
    }

    .gallery-card {
        width: 300px;
        height: 200px;
    }
}
