.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 28, 29);
    flex-direction: column;
}

.footer .section-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

.footer .section-1 .section-1-ul {
    width: 20%;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    line-height: 2.5;
}

.footer .section-1 .section-1-ul ul {
    list-style: none;
}

.footer .section-1 .section-1-ul ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.footer .section-1 .section-1-ul ul li a:hover {
    color: rgb(255, 255, 255);
}

.footer .section-2 {
    width: 100%;
    padding-bottom: 20px;
    padding-left: 20px;
}

.footer .section-2 p {
    color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 1024px) {
    .footer .section-1 {
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .footer .section-1 {
        width: 98%;
    }
    .footer .section-1 .section-1-ul ul li a {
        font-size: 15px;
    }
}
@media screen and (max-width: 572px) {
    .footer .section-1 {
        width: 90%;
    }
    .footer .section-1 .section-1-ul ul li a {
        font-size: 15px;
    }
    .footer .section-1 .section-1-ul {
        width: 40%;
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 380px) {
    .footer .section-1 {
        width: 90%;
    }
    .footer .section-1 .section-1-ul ul li a {
        font-size: 15px;
    }
    .footer .section-1 .section-1-ul {
        width: 70%;
    }
}
