.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px 20px;
    z-index: 10;
}

.header .section-1 {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .section-3 {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .section-3 a{
    visibility: hidden;
    text-decoration: none;
    font-size: 28px;
    color: rgb(117, 193, 79);
}

.header .section-2 {
    width: 60%;
}

.header .section {
    height: 50px;
}

.header .section-1 img {
    height: 35px;
    margin-left: 5px;
    margin-right: 6px;
}

.header .section-2 ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.header .section-2 ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.header .section-2 ul li a:hover {
    opacity: 0.8;
}
.hide {
    display: none!important;
}

.show {
    display: block;
}

.mobile-menu-wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    height: 300px;
    z-index: 10;
    background-color: rgb(240, 240, 240);
    top: 0;
    left: 0;

}

.mobile-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 20px 20px 20px;
}
.mobile-menu .mobile-section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-menu .mobile-section-1 img{
    height: 35px;
    margin-right: 10px;
}

.mobile-menu .mobile-section-2{
    display: flex;
}

.mobile-menu .mobile-section-2 ul {
    list-style: none;
}
.mobile-menu .mobile-section-2 ul li {
    margin-top: 10px;
}
.mobile-menu .mobile-section-2 ul li a {
    text-decoration: none;
}
.mobile-menu .animated-link {
    color: rgb(0,0,0);
    font: 25px/30px sans-serif;
}

.mobile-burger {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 36px;
    height: 30px;
    cursor: pointer;
    z-index: 9999;
}

.mobile-burger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 2px;
}

.mobile-burger span:last-child {
    margin-bottom: 0;
}

/*responsive-start*/
@media screen and (min-width: 2560px){
    .header {
        height: 100px;
    }

    .header .section-1 {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header .section-3 {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header .section-3 a{
        visibility: hidden;
        text-decoration: none;
        font-size: 28px;
        color: rgb(117, 193, 79);
    }

    .header .section-2 {
        width: 50%;
    }

    .header .section {
        height: 50px;
    }

    .header .section-1 img {
        height: 50px;
        width: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .header .section-1 h2 {
        font-size: 30px;
    }
    .header .section-2 ul li a {
        font-size: 24px;
    }
    .header .section-3 p{
        font-size: 24px;
    }
}
@media screen and (max-width: 1024px){
    .header .section-1 {
        width: 20%;
    }
}
@media screen and (max-width: 768px){
    .header .section-1 {
        width: 25%;
    }
}
@media screen and (max-width: 572px){
    .header .section-1 {
        width: 30%;
    }
}
@media screen and (max-width: 380px){
    .header .section-1 {
        width: 40%;
    }
}
/*responsive-end*/
